<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460001596315-ar5f018m1v2vfgsj3baqbutb6vfauvdl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460001596315-ar5f018m1v2vfgsj3baqbutb6vfauvdl</string>
	<key>API_KEY</key>
	<string>AIzaSyBDBi8S_v3myGkn2nl-OTXDckXJgQ10GtA</string>
	<key>GCM_SENDER_ID</key>
	<string>460001596315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled</string>
	<key>PROJECT_ID</key>
	<string>test-a9c1a</string>
	<key>STORAGE_BUCKET</key>
	<string>test-a9c1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460001596315:ios:51f700cf8cd87a2123473e</string>
	<key>DATABASE_URL</key>
	<string>https://test-a9c1a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>